@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* utility classes */

.small-bold-text {
  font-size: 1rem;
  font-weight: 600;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

.hover-link {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}

.hover-link:hover {
  color: var(--accent-color);
}

.primary-button{
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
  text-align: center;
}

.primary-button:hover{
  background-color: var(--accent-color-dark);
}

.secondary-button{
  border: 0.8px solid var(--secondary-text-color);
  padding: 12px 24px;
  font-weight: 700;
  border-radius: 6px;
  color: var(--primary-text-color) !important;
  transition: 0.2s ease-out;
}

.secondary-button:hover{
  border-color: var(--accent-color);
  color: var(--accent-color) !important
}

/* website work */

.contact-us-icon{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.icon-img{
  width: 80px;
}

.top-banner {
  background-image: url("images/asset\ 32.png");
  background-color: #4dadf7;
  background-size: 300px;
}

.banner-text{
  justify-content: center;
}

.banner-text a {
  color: white;
  padding: 15px 30px;
}

.main-nav {
  margin-top: 20px;
  justify-content: space-between;
}

.left-main-nav{
  gap: 10px;
}

.company-logo img {
  width: 180px;
  margin-top: 10px;
}

.tag-msg-bg{
  width: 150px;
  height: 40px;
  background-image: url('images/asset\ 33.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.tag-msg{
  position: absolute;
  top: 8px;
  left: 13px;
}

.nav-links {
  flex-basis: 730px;
}

.nav-links ul {
  justify-content: flex-end;
  gap: 30px;
  list-style: none;
}

.nav-toggle{
  display: none;
}

/* header section */

header{
  padding: 50px var(--padding-inline-section) 0;
}

.header-section{
  justify-content: center;
  gap: 50px;
}

.header-left{
  max-width: 40vw;
}

.header-left h1{
  margin-top: 20px;
}

.header-left a{
  margin-top: 20px;
}

.header-right img{
  width: 100%;
}

.companies-header{
  text-align: center;
  color: var(--primary-text-color);
  margin: 50px 0 30px;
}

.company-logos{
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 20px;
}

.company-logos img{
  margin-bottom: 20px;
  max-width: 120px;
}

/* features section */

.features-section{
  margin-block: 20px;
  padding-block: 80px;
  flex-direction: column;
  background-image: url('images/asset 34.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px;
}

.features-header{
  flex-direction: column;
  text-align: center;
}

.features-header a{
  margin-top: 20px;
}

.features-main{
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 20px;
  gap: 30px;
}

.features-main-item{
  flex-direction: column;
  gap: 10px;
  width: 30%;
  text-align: center;
}

.features-main-item img{
  width: 50px;
}

/* big-features */

.big-feature-section{
  justify-content: space-evenly;
  padding-block: 30px;
}

.big-feature-pic{
  width: 40vw;
}

.big-feature-pic img{
  margin-top: 30px;
  width: 100%;
  
}

.big-feature-text{
  width: 40vw;
}

.big-feature-no-quote-section{
  padding: 50px 30px 0;
}

.big-feature-no-quote-section h2{
  padding: 10px 0px;
}

.big-feature-text .brand{
  width: 100px;
  margin: 30px 0px 10px;
}

.big-feature-quote-section{
  background: url('images/asset\ 35.svg');
  background-repeat: no-repeat;
  max-width: 400px;
  padding: 20px 0;
}

.big-feature-quote-section .bold-content{
  padding-inline: 30px;
}

.big-feature-name-card{
  padding-inline: 30px;
}

.big-feature-name-card .pic img{
  width: 50px;
  margin: 30px 10px 30px 0;
}

.big-feature-name-card .info p{
  font-size: 0.9rem;
}

/* examples section */

.examples-section-header{
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.examples-section-main{
  margin-top: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.examples-section-items{
  width: 23%;
  position: relative;
  height: 300px;
  background: black; 
  transition: 0.2s ease-out;
}

.examples-section-items:hover{
  box-shadow: 0 0 10px #888;
}

.examples-section-items:first-child{
  background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(images/asset\ 36.jpeg);
  background-size: cover;
}
.examples-section-items:nth-child(2){
  background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(images/asset\ 37.jpeg);
  background-size: cover;
}
.examples-section-items:nth-child(3){
  background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(images/asset\ 38.jpeg);
  background-size: cover;
}
.examples-section-items:last-child{
  background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(images/asset\ 39.jpeg);
  background-size: cover;
}

.examples-section-text{
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px; 
  font-weight: 600;
  font-size: 1.4rem;
}

/* participants */

.participants-article{
  background-color:#183b56;
}

.participants-section{
  margin-top: 50px;
  padding: 40px 30px;
  color: #ffffff;
  justify-content: space-between;
}

.participants-content{
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70vw;
}

.participants-content h2{
  font-size: 2.4rem;
  font-weight: 500;
}

.participants-content h4{
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.participants-content .para{
  font-size: 1.25rem;
  color: #b9cde4;
  margin: 10px 0 50px;
}

.participants-content .list{
  gap: 70px;
}

.participants-content .list ul{
  margin-left: 18px;
  line-height: 2.3rem;
  color: #b9cde4;
}

.participants-content .list ul li a{
  color:#b9cde4;
  border-bottom: 1px dashed #b9cde4;
}

.participants-button{
  gap: 10px;
  margin-top: 40px;
}

.participants-button .primary-button{
  font-size: 1rem;
  font-weight: 500;
}

.participants-button .secondary-button{
  color: #b9cde4 !important;
  font-size: 1rem;
  font-weight: 500;
}

.participants-logo img{
  width: 100%;
}

.cta-section{
  text-align: center;
  margin-top: 120px;
}

.cta-section h2{
  margin-bottom: 40px;
}

.cta-section .primary-button{
  margin: 30px 0 80px;
  font-size: 1rem;
  padding: 15px 30px;
}

footer{
  background-color: #ebf2fa;
}

.footer-section{
  align-items: flex-start;
  justify-content: space-between;
  padding: 80px 20px;
}

.footer-links-section{
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-links-section h3{
  margin-bottom: 10px;
}

.footer-links-section a{
  color: #577592;
}

.subfooter{
  background-color: #b9cde4;
}

.sub-footer-section{
  padding: 20px 0;
  justify-content: center;
  gap: 100px;
}

.sub-footer-left{
  gap: 30px;
}

.sub-footer-right{
  gap: 30px;
}
